

.madewithlove{
    text-align: center;
    background-color: black;
    position: fixed;
    bottom: 0;
    color: white;
    width: 100%;
    right: 0;
    padding: 1%;
    font-size: 150%;
}

.madewithlove:hover{
    cursor: default;
}